*{
    margin: 0;
    padding: 0;
}

body{
    height: 100vh;
    display: grid;
    place-items: center;
}

.btn{
    border: none;
    border-radius: 6px;
    transform: translate(0.25rem,-0.25rem);
    box-shadow: -0.25rem 0.25rem black;
    background-color: hotpink;
    padding: 2em;
    transition: .2s;
}
.btn:active{
    box-shadow: none;
    transform: translate(0);
}